# =========================
# Visual Studio
# =========================
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# =========================
# Build results
# =========================
bin/
obj/
Debug/
Release/
x64/
x86/

# =========================
# .NET / C#
# =========================
*.exe
*.dll
*.pdb
*.cache
*.log

# =========================
# IDE / OS
# =========================
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# =========================
# Node / Frontend (por lo que ya te pasó)
# =========================
node_modules/
.angular/
dist/

# =========================
# Env
# =========================
.env
